
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1"></th>
                            <th class="column2">Poniedziałek</th>
                            <th class="column3">Wtorek</th>
                            <th class="column4">Środa</th>
                            <th class="column5">Czwartek</th>
                            <th class="column6">Piątek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="column1">11:00</td>
                            <td class="column2">200398</td>
                            <td class="column3">iPhone X 64Gb Grey</td>
                            <td class="column4">$999.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$999.00</td>
                        </tr>
                        <tr>
                            <td class="column1">11:10</td>
                            <td class="column2">200397</td>
                            <td class="column3">Samsung S8 Black</td>
                            <td class="column4">$756.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$756.00</td>
                        </tr>
                        <tr>
                            <td class="column1">11:20</td>
                            <td class="column2"> {{ __('Current time') }}: {{now}}</td>
                            <td class="columnSelected">Game Console Controller</td>
                            <td class="column4">$22.00</td>
                            <td class="column5">2</td>
                            <td class="column6">$44.00</td>
                        </tr>
                        <tr>
                            <td class="column1">11:30</td>
                            <td class="column2">200392</td>
                            <td class="columnSelected">USB 3.0 Cable</td>
                            <td class="column4">$10.00</td>
                            <td class="column5">3</td>
                            <td class="column6">$30.00</td>
                        </tr>
                        <tr>
                            <td class="column1">11:40</td>
                            <td class="column2">200391</td>
                            <td class="column3">Smartwatch 4.0 LTE Wifi</td>
                            <td class="column4">$199.00</td>
                            <td class="column5">6</td>
                            <td class="column6">$1494.00</td>
                        </tr>
                        <tr>
                            <td class="column1">11:50</td>
                            <td class="column2">200390</td>
                            <td class="column3">Camera C430W 4k</td>
                            <td class="column4">$699.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$699.00</td>
                        </tr>
                        <tr>
                            <td class="column1">12:00</td>
                            <td class="column2">200389</td>
                            <td class="column3">Macbook Pro Retina 2017</td>
                            <td class="column4">$2199.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$2199.00</td>
                        </tr>
                        <tr>
                            <td class="column1">12:10</td>
                            <td class="column2">200388</td>
                            <td class="column3">Game Console Controller</td>
                            <td class="column4">$999.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$999.00</td>
                        </tr>
                        <tr>
                            <td class="column1">12:20</td>
                            <td class="column2">200387</td>
                            <td class="column3">iPhone X 64Gb Grey</td>
                            <td class="column4">$999.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$999.00</td>
                        </tr>
                        <tr>
                            <td class="column1">12:30</td>
                            <td class="column2">200386</td>
                            <td class="column3">iPhone X 64Gb Grey</td>
                            <td class="column4">$999.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$999.00</td>
                        </tr>
                        <tr>
                            <td class="column1">12:40</td>
                            <td class="column2">200389</td>
                            <td class="column3">Macbook Pro Retina 2017</td>
                            <td class="column4">$2199.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$2199.00</td>
                        </tr>
                        <tr>
                            <td class="column1">12:50</td>
                            <td class="column2">200388</td>
                            <td class="column3">Game Console Controller</td>
                            <td class="column4">$999.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$999.00</td>
                        </tr>
                        <tr>
                            <td class="column1">13:00</td>
                            <td class="column2">200387</td>
                            <td class="column3">iPhone X 64Gb Grey</td>
                            <td class="column4">$999.00</td>
                            <td class="column5">1</td>
                            <td class="column6">$999.00</td>
                        </tr>

                    </tbody>
                </table>
            </div>
