<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ base_path() }}/"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/admin/images/favicon.png">
    <title>Konline - Konsultacje on-line</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="assets/admin/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="assets/admin/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="assets/admin/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="assets/admin/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="assets/admin/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="assets/admin/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/admin/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="assets/admin/css/colors/default.css" id="theme" rel="stylesheet">


    <!--==============================   CALLENDAR CSS   ==============================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/callendar/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/callendar/addons/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="assets/callendar/addons/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="assets/callendar/addons/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="assets/callendar/css/util.css">
	<link rel="stylesheet" type="text/css" href="assets/callendar/css/main.css">
	<!--===============================================================================================-->

    {% block style %} {% endblock %}



</head>
    <body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="#">
                        <!-- Logo icon image, you can use font-icon also -->
                        <b>
                            <!--This is dark logo icon-->

                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            <!--This is dark logo text-->
                            <img src="assets/admin/images/admin-text.png" alt="home" class="dark-logo" />
                            <!--This is light logo text-->
                            <img src="images/main/android-logo.png" alt="home" class="light-logo" style="width:75%"/>
                        </span> 
                    </a>
                </div>
                <!-- /Logo -->
            
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="#" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Strona główna</a>
                    </li>
                    <li>
                        <a href="profile.html" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Panel nauczyciela</a>
                    </li>
                    <li>
                        <a href="basic-table.html" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Zmień termin</a>
                    </li>
                    <li>
                        <a href="fontawesome.html" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Kontakt</a>
                    </li>

                </ul>
                <div class="center p-20">
                     <a href="add" class="btn btn-danger btn-block waves-effect waves-light">Zarezerwuj konsultacje</a>
                 </div>
            </div>
            
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->

        {% block content %}{% endblock %}


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/admin/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="assets/admin/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="assets/admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="assets/admin/js/waves.js"></script>
    <!--Counter js -->
    <script src="assets/admin/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="assets/admin/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="assets/admin/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="assets/admin/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="assets/admin/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="assets/admin/js/custom.min.js"></script>
    <script src="assets/admin/js/dashboard1.js"></script>
    <script src="assets/admin/bower_components/toast-master/js/jquery.toast.js"></script>
    <script src="assets/admin/js/callendar.js"></script>


    {% block js %}{% endblock %}
    </body>
</html>